---
import "@fontsource-variable/montserrat";
import { CookiesConsent } from "../components/Cookies-Consent";

const { title } = Astro.props;
//const gtag_id = import.meta.env.PUBLIC_GTAG_ID;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
      // Define dataLayer and the gtag function.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      // Default ad_storage to 'denied'.
      gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
      });
    </script>

  </head>
  <body>

    <slot />

    <footer>
      <div
        class="relative z-0 flex w-full flex-col items-center px-4 pb-12 pt-32 md:px-12 xl:px-24 2xl:px-44"
      >
        <div class="w-[250px]">
          <img
            alt="Logo"
            src="/assets/EnergyPal_Logo.svg"
            style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"
          />
        </div>
        <div class="mt-16 flex flex-wrap justify-center gap-5">
          <a
            href="mailto:office@energypal.at"
            class="text-primary hover:text-secondary hover:underline hover:underline-offset-4 lg:text-lg"
          >
            office@energypal.at
          </a>
          <a
            href="/impressum/"
            class="text-primary hover:text-secondary hover:underline hover:underline-offset-4 lg:text-lg"
          >
            Impressum
          </a>
          <a
            href="/datenschutz/"
            class="text-primary hover:text-secondary hover:underline hover:underline-offset-4 lg:text-lg"
          >
            Datenshutz
          </a>
          <CookiesConsent client:load />
        </div>
        <div class="mt-12 flex flex-wrap justify-center">
          &copy; energypal.at
        </div>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Montserrat Variable", system-ui, sans-serif;
  }
  strong {
    font-weight: 600;
  }
  [x-cloak] { display: none !important; }
</style>
